namespace Year[YEAR]
{
    public class Day[DAY] : IDay
    {
        public Object Sol1(String input)
        {


        return "result";
        }

        public Object Sol2(String input)
        {


        return "result";
        }
    }
}
